<section class="block block--dark block--skewed-left block-showcase">
  <header class="block__header">
    <h2 class="block__heading">User-Friendly</h2>
  </header>
  <div class="container grid grid--1x2">
    <img class="block-showcase__image" src="images/ipad.png" alt="" />
    <ul class="list">
      <li>
        <div class="media">
          <div class="media__image">
            <svg class="icon icon--primary">
              <use href="images/sprite.svg#clock"></use>
            </svg>
          </div>
          <div class="media__body">
            <h3 class="media__title">Easy star & Managed Updatest</h3>
            <p>
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugit,
              vero!
            </p>
          </div>
        </div>
      </li>
      <li>
        <div class="media">
          <div class="media__image">
            <svg class="icon icon--primary">
              <use href="images/sprite.svg#growth"></use>
            </svg>
          </div>
          <div class="media__body">
            <h3 class="media__title">Easy star & Managed Updatest</h3>
            <p>
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ea, ut?
            </p>
          </div>
        </div>
      </li>
      <li>
        <div class="media">
          <div class="media__image">
            <svg class="icon icon--primary">
              <use href="images/sprite.svg#wordpress"></use>
            </svg>
          </div>
          <div class="media__body">
            <h3 class="media__title">Easy star & Managed Updatest</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat,
              quod.
            </p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
