<section class="block container">
      <header class="block__header">
        <h2 class="block__heading">Heading</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam esse
          fuga minus rem consectetur, necessitatibus error non iure aliquid
          doloremque soluta exercitationem tenetur et porro a autem repudiandae
          iusto similique.
        </p>
      </header>
    </section>
    <section class="block block--dark block--skewed-right">
      <div class="container">
        <h2 class="block__heading">Heading</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam esse
          fuga minus rem consectetur, necessitatibus error non iure aliquid
          doloremque soluta exercitationem tenetur et porro a autem repudiandae
          iusto similique.
        </p>
      </div>
    </section>