<div class="callout callout--primary">
      <div class="grid grid--1x2">
        <div class="callout__content">
          <h2 class="callout__header">Readey to get started?</h2>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui rem et
            tempora repellat necessitatibus aut blanditiis voluptatibus quos
            impedit quis dolorum maiores incidunt, magni voluptates sint ea
            sapiente nesciunt suscipit.
          </p>
        </div>
        <a href="#" class="btn btn--secondary btn--stretch">Get started?</a>
      </div>
    </div>