<div class="collapsible collapsible--expanded">
  <header class="collapsible__header">
    <h3 class="collapsible__heading">Item 1</h3>
    <span class="icon-wrapper">
      <svg class="icon icon--primary">
        <use xlink:href="images/sprite.svg#chevron"></use>
      </svg>
    </span>
  </header>
  <div class="collapsible__content">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae nemo nisi
    ullam aperiam possimus enim voluptas, debitis laboriosam voluptatum dolorum
    dicta eos? Provident veritatis nesciunt aperiam consequatur vel cupiditate
    ipsam?
  </div>
</div>
