 <div class="media">
      <div class="media__image">
        <svg class="icon icon--primary">
          <use xlink:href="images/sprite.svg#snap"></use>
        </svg>
      </div>
      <d iv class="media__body">
        <h3 class="media__title">Easy star & Managed Updatest</h3>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rerum
          reprehenderit saepe officiis voluptatem provident natus ipsum est
          deleniti temporibus magnam, aspernatur esse debitis placeat possimus
          quas odit ea accusamus perspiciatis?
        </p>
      </div