<blockquote class="quote">
    <p class="quote__text">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum
      reprehenderit saepe officiis voluptatem provident natus ipsum est deleniti
      temporibus magnam, aspernatur esse debitis placeat possimus quas odit ea
      accusamus perspiciatis?
    </p>
    <footer>
       <div class="media">
      <div class="media__image quote__line">
        <svg class="icon icon--primary">
          <use xlink:href="images/sprite.svg#line"></use>
        </svg>
      </div>
      <div class="media__body">
        <h3 class="media__title quote__author">Eastin Su</h3>
        <p class="organization">
         ABC Company CEO
        </p>
      </div>
    </footer>
   </blockquote>